@import "tailwindcss";

:root {
  --background: #549cee;
  --foreground: #252727;
  --form-background: #e5f8ff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #224874;
    --foreground: #e5f8ff;
    --form-background: #252727;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

input{
  background: var(--form-background);
}
